.jumbotron {
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

img {
  width: 80%;
  border-radius: 25px;
}

.card {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.carousel-item {
  height: 350px;
  object-fit: cover;
  top: 0;
  left: 0;
}

.carousel-item img {
  opacity: 0.2;
  border-radius: 0px;
}

.carousel-text {
  color: black;
}
